python-box==7.1.1
PyYAML==6.0.1
passlib==1.7.4
bcrypt==4.1.2
python-dotenv==1.0.1
streamlit==1.38.0
langchain==0.3.13
langchain-core==0.3.70
langchain-community==0.3.13
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.2
ctransformers==0.2.28
sentence-transformers==3.0.1
faiss-cpu==1.8.0
huggingface-hub==0.24.6
torch==2.3.1
transformers==4.44.2
accelerate==0.33.0
safetensors==0.4.3
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
matplotlib==3.9.1
Pillow==10.4.0
opencv-python==4.10.0.84
PyMuPDF==1.24.9
pypdf==4.3.1
docx2pdf==0.1.8
comtypes==1.4.4
nyckel==0.4.22
gradio-client==0.16.1
tf-keras==2.16.0
tensorflow==2.16.1
protobuf==5.28.3